extends _layout.pug

block locals 
  - var title="Hello pug!!!!";

block content
    h1 Hellow Pug !!!!!
    div#react-root
    div#vue-root
    img(src="../img/icon.png")
    img(src="../img/thumbnail.jpg")
