@use './footer.scss';

@mixin set-margin($direction, $value){
  margin-#{$direction}: $value;
}

body{
  color: rgb(248, 157, 82);
}
$text-color: rgb(204, 204, 221);

.content{
  .title{
    font-size: 24px;
    color: $text-color;
  }
  .title_lg{
    @extend .title;
    font-size: 32px;
  }
  @include set-margin(right,16px )
}